@import "tailwindcss";

@layer base{
  *{margin: 0;padding: 0;}
}

a{text-decoration: none;}
ul,li{list-style: none;}
body{height: 100vh;}

#root{
  background: #f2f2f2;
  height: 100%;
  padding-top: 62px;

  @media(min-width:786px){
    padding-top: 74px;
  }

  @media(min-width:1400px){
    padding-top: 80px;
  }
}