@import "tailwindcss";

@layer base{
  *{margin: 0;padding: 0;}
}

a{text-decoration: none;}
ul,li{list-style: none;}

/* 큰 제목 */
h1{font-size: 40px;}

/* 본문 제목 */
h2{font-size: 28px;}

/* 기본 본문 */
p, button{font-size: 14px;}